.root {
  position: relative;
  justify-content: center;
  width: 100vw;
  max-width: 2400px;
  background: #EEEEEF;
  height: fit-content;
  margin: 0 auto;
  /*
 * Created with https://www.css-gradient.com
 * Gradient link: https://www.css-gradient.com/?c1=ffffff&c2=54565a&gt=l&gd=dtt
 */
  background: rgb(84,86,90);
  background: linear-gradient(0deg, rgba(84,86,90,1) 0%, rgba(84,86,90,1) 20%, rgba(242,242,242,1) 40%);
}

.container {
  display: flex;
  flex-direction: column;

  width: calc(90% + 28px);
  margin: 0 auto;
  img {
    width: 100%;
  }
}