.root {
  position: relative;
  justify-content: center;
  width: 100vw;
  max-width: 2400px;
  background: #E4DACA;
  height: 300vh;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;

  width: 90%;
  margin: 0 auto;
}