.root {
  width: 90%;
  max-width: 2400px;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background: rgba(138, 22, 53, 0.73);

  padding: 0 14px;
  a {
    cursor: pointer;
  }

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 8px 8px 0  0;
    height: 65px;
    align-items: center;
    .buttons {
      button {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 5px;
        margin-right: 14px;
        border: 1px white solid;
        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    border-radius: 0  0 8px 8px;
    height: 30px;
    font-size: 1em;
  }
}

@media (max-width: 1300px) {
  .root {
    width: 97%;
    font-size: 1.2vw;
  }
}

.logo {

}

//.panel {
//  position: absolute;
//  top: 90px;
//  display: flex;
//  width: 98%;
//  height: fit-content;
//  height: 600px;
//  background: white;
//  border-radius: 5px;
//}
//
//.panel .active {
//
//}


.panel {
  position: absolute;
  top: 90px;
  transform: translateX(-50%);
  display: flex;
  height: fit-content;
  max-height: 600px;
  background: rgba(138, 22, 53, 0.73);

  backdrop-filter: blur(10px) !important;
  color: white;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  ol {
    list-style: none;
    li {
        padding: 10px 0;
    }
  }
}
