body {
  margin: 0;
  font-family: 'TT Norms Pro',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: white;
}

h1, h2, h3 {
  font-family: 'TT Nooks Script', sans-serif;

}

// TT Nooks Script

@font-face {
  font-family: 'TT Nooks Script';
  src: local('TT Nooks Script Bold'), local('TTNooksScript-Bold'),
  url('../uploads/fonts/TTNocksScript/TTNooksScript-Bold.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Nooks Script';
  src: local('TT Nooks Script Bold'), local('TTNooksScript-Black'),
  url('../uploads/fonts/TTNocksScript/TTNooksScript-Black.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Nooks Script';
  src: local('TT Nooks Script Bold'), local('TTNooksScript-Light'),
  url('../uploads/fonts/TTNocksScript/TTNooksScript-Light.otf') format('otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Nooks Script';
  src: local('TT Nooks Script Bold'), local('TTNooksScript-Regular'),
  url('../uploads/fonts/TTNocksScript/TTNooksScript-Regular.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}


// TT Norms Pro

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Bold'), local('TTNormsPro-Bold'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro ExtraBold Italic'), local('TTNormsPro-ExtraBoldItalic'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro ExtraLight Italic'), local('TTNormsPro-ExtraLightItalic'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Thin'), local('TTNormsPro-Thin'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro ExtraBold'), local('TTNormsPro-ExtraBold'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Regular'), local('TTNormsPro-Regular'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Thin Italic'), local('TTNormsPro-ThinItalic'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Light'), local('TTNormsPro-Light'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Medium Italic'), local('TTNormsPro-MediumItalic'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Pro ExtraBlack';
  src: local('TT Norms Pro ExtraBlack Italic'), local('TTNormsPro-ExtraBlackItalic'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-ExtraBlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro ExtraLight'), local('TTNormsPro-ExtraLight'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Light Italic'), local('TTNormsPro-LightItalic'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Medium'), local('TTNormsPro-Medium'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro ExtraBlack';
  src: local('TT Norms Pro ExtraBlack'), local('TTNormsPro-ExtraBlack'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-ExtraBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Bold Italic'), local('TTNormsPro-BoldItalic'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Black Italic'), local('TTNormsPro-BlackItalic'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Black'), local('TTNormsPro-Black'),
  url('../uploads/fonts/TTNormsPro/TTNormsPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: local('TT Norms Pro Italic'), local('TTNormsPro-Italic'),
url('../uploads/fonts/TTNormsPro/TTNormsPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

